{% extends 'base.html' %} 
{% block content %}
<!--Provera da li je korisnik ulogovan-->
{% if user.is_authenticated %} 
<center><h3 style="background-color:rgb(233, 191, 141); padding: 10px; margin-top: 15px; color:black;"><b>User profile </b></h3></center>
<table class="table table-sm table-dark">
    <tr>
        <th>First name:</th>
        <td>{{user.first_name}}</td>
    </tr>
    <tr>
        <th>Last name:</th>
        <td>{{user.last_name}}</td>        
    </tr>
    <tr>
        <th>Username:</th>
        <td>{{user.username}}</td>  
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{user.email}}</td>    
    </tr>
    <tr>
        <th>Address:</th>
        <td>{{user.userprofile.UserAddress}}</td>    
    </tr>
    <tr>
        <th>Phone number:</th>
        <td>{{user.userprofile.UserNumber}}</td>    
    </tr>
    <tr>
        <th>Diet type:</th>
        <td>{{ user.userprofile.UserDietType }}</td>
    </tr>
    <tr>
        <th>Last login:</th>
        <td>{{ user.last_login }}</td>
    </tr>
    <tr>
        <th>Registration date:</th>
        <td>{{ user.date_joined }}</td>
    </tr>
</table>
{% endif %}
{% endblock %}